.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 50px;

  @media (min-width: 768px) {
    padding-top: 130px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
