.container {
  position: relative;
  width: 100%;
  background-color: #000;
  @media (min-width: $breakpoint-lg) {
    width: 800px;
  }
}

.player {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 200% 100%;
  z-index: 300;
  @include skeleton;
}
